*.DS_Store
*.env

*.json
*.csv
*.svg
*.html
*.log
*.pid
*.env
*.venv/
*.vscode/
*.cursor/
*.zip
*__pycache__/

client/node_modules/
client/dist/

server/outputs*/
server/dumps/
server/data/
!server/prompts.json
server/scratch.ipynb